.faq {
  &__container {
    max-width: 920px;
  }

  &__title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 4rem;
    line-height: 1.1;
    text-align: center;
  }

  &__item {
    margin-bottom: 2rem;
    transition: all 0.4s ease;
  }

  &__question {
    position: relative;
    font-weight: 700;
    font-size: 1.25rem;
    width: 100%;
    text-align: left;

    &::after {
      content: '+';
      position: absolute;
      right: 0;
      top: 0;
      font-weight: 600;
      font-size: 1.3rem;
    }
  }

  &__answer {
    padding-top: 0.5rem;
    animation: fadeIn 0.4s;
    display: none;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
