.loyalty {
  margin-top: 25rem;

  @media (max-width: 1400px) {
    margin-top: 15rem;
  }

  > div {
    display: flex;
    flex-direction: column;

    .loyalty__top {
      margin-left: auto;
      max-width: max-content;
    }

    .loyalty__plane {
      position: absolute;
      left: -40rem;
      top: 18rem;
      max-width: 120%;
      height: auto;

      @media (max-width: 1400px) {
        top: 20rem;
        left: -35rem;
      }

      @media (max-width: 1200px) {
        left: -35rem;
        top: 18rem;
      }

      @media (max-width: 800px) {
        left: -25rem;
        top: 15rem;
      }

      @media (max-width: 600px) {
        left: -20rem;
        top: 17rem;
      }
    }

    .loyalty__cloud {
      position: absolute;
      top: 65rem;
      right: -10rem;
      width: 30vw;
      transform: rotate(20deg);

      @media (max-width: 1400px) {
        top: 50rem;
        right: -5rem;
      }

      @media (max-width: 1200px) {
        top: 40rem;
        right: -5rem;
      }
    }

    .loyalty__bottom {
      margin-top: 30rem;

      @media (max-width: 1400px) {
        margin-top: 20rem;
      }

      @media (max-width: 1200px) {
        margin-top: 13rem;
      }
    }
  }
}
