.luxury {
  position: relative;

  &__cloud {
    position: absolute;
    top: 20rem;
    right: -20rem;
    user-select: none;
    pointer-events: none;
    z-index: 1;
    transform: rotate(0deg);

    @media (max-width: 1400px) {
      top: 10rem;
      right: -25rem;
    }

    @media (max-width: 1200px) {
      top: 20rem;
      right: -32rem;
    }

    @media (max-width: 1000px) {
      top: 20rem;
      right: -25rem;
    }

    @media (max-width: 800px) {
      top: 15rem;
      right: -25rem;
    }

    @media (max-width: 600px) {
      top: 25rem;
      right: -12rem;
    }
  }

  &__plane {
    position: absolute;
    right: 0;
    bottom: -28rem;
    max-width: 75%;
    height: auto;

    @media (max-width: 1400px) {
      bottom: -22rem;
      right: -2rem;
      max-width: 100%;
    }

    @media (max-width: 1200px) {
      bottom: -22rem;
      right: -2rem;
      max-width: 100%;
    }

    @media (max-width: 1000px) {
      bottom: -20rem;
      max-width: 100%;
    }

    @media (max-width: 800px) {
      bottom: -20rem;
      max-width: 100%;
    }

    @media (max-width: 600px) {
      bottom: -16rem;
      right: 0rem;
      max-width: 100%;
    }
  }
}
