@use 'variables' as *;

.btn {
  border-radius: 1.5rem;
  background-color: $btn-bg-default;
  padding: 0.4rem 0.8rem;
  font-weight: 600;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.4s ease, border-color 0.4s ease;
  -webkit-tap-highlight-color: transparent;
  outline: none;

  &:hover {
    background-color: $btn-bg-hover;
  }

  &--primary {
    background-color: $btn-primary-bg;
    color: $btn-primary-color;
    box-shadow: none;

    &:hover {
      background-color: $btn-primary-hover-bg;
    }
  }

  &--gray {
    background-color: $btn-gray-bg;
    color: $btn-gray-color;
    box-shadow: none;
  }

  &--premium {
    background: linear-gradient(
      to top,
      $btn-premium-bg-start,
      $btn-premium-bg-end
    );
    border: 1px solid $btn-premium-border;

    &:hover {
      border-color: $btn-premium-border-hover;
    }
  }

  &--secondary {
    background-color: $btn-secondary-bg;
    color: $btn-secondary-color;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    transition: background-color 0.3s ease, border-color 0.3s ease;

    &:hover {
      background-color: $btn-secondary-hover-bg;
    }
  }
}

.sub-title {
  opacity: 0.7;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 500;

  @media (max-width: 768px) {
    font-size: 1rem;
  }
}

.description {
  margin: 1.4rem 0 1.7rem;
  font-size: 1.3rem;
  font-weight: 500;

  @media (max-width: 768px) {
    font-size: 1.1rem;
  }

  @media (max-width: 480px) {
    font-size: 1rem;
  }
}
