$font-family: 'Manrope', sans-serif;

$color-bg: #eaebef;
$color-block: #fff;
$color-text: #3b3b3b;
$color-gray: #e9e9e9;
$color-muted: #6e6f77;

$btn-bg-default: $color-block;
$btn-bg-hover: #f1f1f1;

$btn-primary-bg: #393847;
$btn-primary-color: $color-block;
$btn-primary-hover-bg: $color-text;

$btn-gray-bg: $color-gray;
$btn-gray-color: #32323a;

$btn-premium-bg-start: #3a292b;
$btn-premium-bg-end: #37292a;
$btn-premium-border: rgba(255, 255, 255, 0.1);
$btn-premium-border-hover: rgba(255, 255, 255, 0.2);

$btn-secondary-bg: #fdfdfd;
$btn-secondary-color: #3b3b3b;
$btn-secondary-hover-bg: #f5f5f7;

$gap: 1.5rem;
$gap-small: 1rem;
$gap-xs: 0.8rem;
