@import 'variables';

html {
  font-size: 18px;
}

body {
  background-color: $color-bg;
  color: $color-text;

  font-family: $font-family;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

button {
  cursor: pointer;
}

@import 'ui';
@import 'header';
@import 'welcome';
